.DS_Store
*.pyc
build/
dist/
+trash
+private
+current
# Xcode user files
project.xcworkspace
xcuserdata
NodeBox.egg-info
nodebox/tests/graphics/_results/
nodebox/tests/vdiff/images/*/_compare.png
nodebox/tests/vdiff/test-results.html
packages_nodebox.png
classes_nodebox.png
+latex/*.aux
+latex/*.log
Resources/English.lproj/MainMenu Kopie.xib
Resources/English.lproj/NodeBoxPreferences Kopie.xib
Resources/English.lproj/PyDETextView.py
Resources/English.lproj/NodeBoxGraphicsView.py
README.html
examples/Fun/sutcliffe.py
examples/Fun/sutcliffe.rb
examples/New Functions/*.png
examples/New Functions/Example Fractal Stuff/
examples/New Functions/cpt_palettes.py
examples/New Functions/Example fractal 3.py
examples/scaler.py
examples/Third party stuff
examples/Test
tests/temp
tests/examples-*