.DS_Store
*.pyc
build/
dist/
# Xcode user files
project.xcworkspace
xcuserdata
nodebox/tests/graphics/_results/
NodeBox.xcodeproj/*.mode1v3
NodeBox.xcodeproj/*.pbxuser
nodebox/tests/vdiff/images/*/_compare.png
nodebox/tests/vdiff/test-results.html
+trash
.gitignore
+current
examples/Escher/FG*
examples/Images/Images*
examples/Path/Spider-kw.py
examples/zzz_private/
lib@appsupport
packages_nodebox.png
classes_nodebox.png
examples/New Functions/documents.txt
+latex/*.aux
+latex/*.log
