.DS_Store
*.pyc
build/
dist/

# Xcode user files
project.xcworkspace
xcuserdata
nodebox/tests/graphics/_results/
NodeBox.xcodeproj/*.mode1v3
NodeBox.xcodeproj/*.pbxuser
nodebox/tests/vdiff/images/*/_compare.png

